
.scrolleo {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 6.8649vh;
    gap: 2.860411vh;
}

.perfil {
    width: 90.7960vw;
    height: 13.3867vh;
    background-color: #f6b14d;
    display: flex;
    align-items: center;
    gap: 7.5472vw;
}
.foto {
    width: 23.5845vw;
    height: 11.44164vh;
    background-color: white;
    border-radius: 10rem;
    margin-left: 2.1218vw;
}
.columna{
    width: 49.05223vw;
height: calc(2.402745vh + 4.3478vh + 2.402745vh);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2.402745vh;
}
.nombre {
width: 49.05223vw;
height: 2.402745vh;
background-color: #616060;
}
.cositas {
    width: 36.8159vw;
    height: 4.3478vh;
    background-color: #d9d9d9;
    border-radius: 2rem;
    margin-left: 3.06467vw;
}