.main {
margin-top: 1.373vh;
    margin-left: 2.986vw;
    margin-right: 2.986vw; 
}

.vinculo {
position: absolute;
width: 84.825vw;
height: 3.318vh;
left: 6.467vw;
top: 69.565ch;
background-color: #AFACAC;
}
