.main {
    margin-top: 1.373vh;
    margin-left: 2.986vw;
    margin-right: 2.986vw;
}
.buscar {
    width: 77.115vw;
    height: 4.805vh;
    background-color: #d9d9d9;
    border-radius: 0.6875rem;
}

.barra-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}