body {
background-color: #FFC96C;
width: 100%;
min-height: 100vh;
}

.main {
    height: 93.1351vh;

    padding-top: 2.986vh;
    padding-left: 2.986vw;
    padding-right: 2.986vw; 

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.volver-atras {

}

.texto-superior {

}

.subir-imagen {
    box-sizing: border-box;
    
    width: 84.825vw;
    height: 32.2654vh;
    left: 6.467vw;
    top: 21.624vh;
    
    background-color: #FFFFFF;
    border: 0.5rem solid #FFFFFF;
    border-radius: 1.4375 rem;
    border-color: black;
    }

.descripcion {
    width: 84.825vw;
    height: 3.318vh;
  
    font-size: 2.5rem;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: wrap;
}

.vinculo {
width: 84.825vw;
height: 3.318vh;
left: 6.467vw;
top: 69.565vh;
background-color: #AFACAC;
}

.publicar {
    
}
