* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
background-color: #FFC96C;
width: 100%;
min-height: 100vh;
}

.main {
    height: 93.1351vh;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.Volver-atras {
    width: 9.7014vw;
    height: 3.547vh;
    border-radius: 3rem;
    background-color: bisque;
    display: flex;
    justify-content:center;
    align-items: center;

    color: black;
    font-size: 9.7014vw;
    text-decoration: none;
}

.texto-superior {
    width: 84.825vw;
    height: 9rem;
}

.htexto {
    font-size: 8rem;
}

.subir-imagen {
    box-sizing: border-box;
    
    width: 84.825vw;
    height: 32.2654vh;
    left: 6.467vw;
    top: 21.624vh;
    border-radius: 5rem;
    background-color: #FFFFFF;
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    }

.h1 {
    font-size: 3.546vh;
    color: #fcae27;
    display: flex;
    justify-content: center;
}

.h2 {
    font-size: 6rem;
    color: #fcae27;
    display: flex;
    justify-content: center;

    padding: 1rem;
}

.descripcion {
    width: 84.825vw;
    height: 3.318vh;
  
    font-size: 2.5rem;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: wrap;
}

.vinculo {
width: 84.825vw;
height: 3.318vh;
background-color: #AFACAC;
}

.publicar {
    height: 6.636vh;
    width: 39.8vw;
    background-color: #AFACAC;
}

.header {
    width: 100vw;
    height: 12.242vh;

    padding-right: 2.986vw; 
    padding-top: 2.986vh;
    padding-left: 2.986vw;

    display: flex;
    flex-direction: column;
    justify-content:center;
}

.textoeimagen {
    width: 100vw;
    height: 41.647vh;

    padding-right: 2.986vw; 
    padding-left: 2.986vw;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
}

.descyvinculoypublicar {
    width: 100vw;
    height: 46.109vh;

    padding-right: 2.986vw; 
    padding-top: 2.986vh;
    padding-left: 2.986vw;

    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
