/* Base: viewport 402px x 874px | 1vw = 4.02px | 1vh = 8.74px | 1rem = 16px */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 14vh;
    z-index: 10;                 
    background-color: white;     
    padding: 1.5vh 3.5vw 0;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.partearriba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mensajeria {
    width: 43.53233vw;
    height: 3.54691vh;
    margin-left: 2.5vw;
    background-color: #F3A73C;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensajes {
    padding-top: 16vh;           
    padding-bottom: 9vh;       
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.chats {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5vw 0 3.5vw;
}

.persona {
    width: 19.9vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 1.4vh;
    margin-left: 4.5vw;
}

.nombre {
    width: 30.8vw;
    height: 2.1vh;
    font-size: 0.8rem;
    background-color: #d9d9d9;
}

.mensajito {
    width: 43vw;
    height: 2.1vh;
    font-size: 0.8rem;
    color: white;
    overflow: hidden;           
    overflow-wrap: anywhere;   
    background-color: #616060;
}

.punto {
    width: 4.2vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #E0A94F;
    margin-left: auto;           /* lo empuja al borde derecho */
}